<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">        
    </head>
    <body>
        <h1>Clientes Totales: <span th:text="${clientes.size()}"></span></h1>        
        <div th:if="${clientes != null and !clientes.empty}"></div>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
            <tr th:each="cliente : ${clientes}"> 
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
                <td th:text="${cliente.correo}"></td>
                <td th:text="${cliente.telefono}"></td>
            </tr>
        </table>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes está vacía
        </div>
    </body>
</html>
